<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Berts_Base.Properties.Setup" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <applicationSettings>
        <Berts_Base.Properties.Setup>
            <setting name="ChampionName" serializeAs="String">
                <value>Teemo</value>
            </setting>
            <setting name="AD_Supported" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AP_Supported" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_Supported" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Support_Supported" serializeAs="String">
                <value>True</value>
            </setting>
        </Berts_Base.Properties.Setup>
    </applicationSettings>
</configuration>
